ul.sidebar {
    background-color: $head_bot_bgc;
    color: $head_bot_color;
    @include link-color($head_bot_link_color, $head_bot_link_color, true);
    text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.25);
    padding: 20px;
    
    text-align: center;
        
    li {
        list-style: none;
        padding: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    
    li.widget_search {
        
        display: block;
        margin: 0 auto;
        text-align: center;
        
    }
    
    h1, h2, h3, h4, h5 {
        color: $head_bot_color;
        margin-top: 3px;
    }
    
    label {
        display: block;
    }
    
    div.q2q-adspace-sidebar {
        
        background: #000;
        width: 200px;
        height: 170px;
        padding: 10px;
        margin: 0 auto;
        color: white;
        box-sizing: border-box;
        position: relative;
        
        &:after {
         
            content: "Rectangle 180x150";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            
        }
    
    }

}

ul#sidebar-foot {
    padding: 0;
    text-align: left;
}

div.sidebar-main-container {
    
    margin: 5px 0 30px;
    background-color: $head_bot_bgc;
    
    @media screen and (min-width: 992px) {
        margin: 0 0 20px;
        background-color: transparent;
    }
    
}

#searchform {
    
    max-width: 250px;
    margin: 0 auto;
    
    input{
        
        display: block;
        padding: 5px 15px;
        margin: 10px auto;
        border-radius: 10px;
        background: white;
        border: none;
        color: $color;
        box-sizing: border-box;
        
        &[type="text"] {
            width: 100%;
        }
        
        &[type="submit"] {
            
            background: #999;
            padding: 5px;
            color: white;
            width: 70px;
            
        }
        
        
        
    }
    
}